* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: lightcoral;
  text-align: center;
  color: white;
}
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}
h1,
h2 {
  margin: 4rem;
}
#increment-btn {
  padding: 2rem 6rem;
  border-radius: 2rem;
  cursor: pointer;
}

#save-btn {
  padding: 2rem 8.2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 4rem;
  margin-top: 4rem;
}
